:root {
  padding: 0;
  margin: 0px;

}
html {
  scroll-behavior: smooth;
}

body{
  padding: 0px;
  margin: 0px;
  height: 800vh;
  background-color: #fffbf2
}

body::-webkit-scrollbar{
  display: none;
}

.mainbody {
  padding: 0px;
}


.home-section1-wrapper {
  border-radius: 10px;
  box-shadow: 2px 6px 12px #00000014;
  height: 100vh;
}
.home-image-container {
  display: flex;
  width: 750px;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  z-index: -1;

}
.home-hero-image {
  object-fit: cover;
  width: 100%;
}



.home1-text-container {
  width: 70%;
}
.home1-text {
  color: white;
  font-family: "Inter";
  font-size: 60px;
  font-weight: 900;
}

.header-wrapper {
  display: flex;
  width: 100%;
  position: fixed;
}

.logo-container {
  width: 85px;
}

.logo {
  width: 100%;
  object-fit: cover;
  border-radius: 100px;
}

.navbar-wrapper {
  right: 0px;
  width: 5vw;
}

.navbar {
  display: flex;
  position: fixed;
  right: 0px;
  height: 100vh;
  width: 5vw;
  justify-content: center;
  align-items: center;
  z-index:9999;
}

.navbar-links {
  display: flex;
  height: max-content;
  list-style: none;
  rotate: -90deg;
  gap: 20px;
  font-family: "Sora";
  font-weight: 800;
  font-size: 13px;
}
li{
  will-change: scale;
  transition: scale 0.3s ease;
  cursor: pointer;
}
li:hover{
  scale: 1.1;
}
.home-fixed-content1 {
  height: 400vh;

}
.home1-content-wrapper {
  display: flex;
  top: 0px;
  justify-content: center;
  height: 200vh;
  width: 100%;
  will-change: opacity;
  transition: opacity 0.5s ease;
}
.home1-text-container {
  display: flex;
  height: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home1-text-container-top {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  gap: 25px;
  will-change: scale;
  transition: scale 01s ease, opacity 0.5s ease-in-out;
}

.home1-text-container-bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 25px;
}

.home1-text-container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  scale: 0.85;
  opacity: 0;
  will-change: opacity, scale;
  transition: opacity 0.5s ease, scale 0.5s ease;
  border: 1px solid blue;
}
.home1-text-container-bottom-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}
.homeText5{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: -0.9px;
  line-height: 1.2;
  font-size: 25px;
  text-align: left;
  width: 30vw;
  height: max-content;
}
.homeText5v2{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: -0.9px;
  line-height: 1.2;
  font-size: 25px;
  text-align: left;
  width: 30vw;
  height: max-content;
}
.name {
  color: rgb(79, 79, 79);
}
.home1-text1-container {
  display: flex;
}

.home1-text2-container {
  display: flex;
}

.home1-text3-container{
  display: flex;  
}
.home1-text4-container{
  display: flex;
}

.letter-container {
  overflow: hidden;
}
.letter {
  font-family: "Sora";
  font-weight: 800;
  font-size: 70px;
  color: rgb(29, 29, 29);
  margin: 0;
  transform: translateY(20vh);
  will-change: transform, opacity;
  transition: transform 1s ease, opacity 1s ease;
}




.home2-content-wrapper {
  display: flex;
  height: 100vh;
  top: 0px;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.home2-slider-wrapper{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  height: 0vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 6px 12px #00000014;
  background-color: rgb(240, 240, 240);
  will-change: height, opacity;
  transition: height 0.05s ease, opacity 0.05s ease;
  opacity: 0;
}

.home2-slider {
  display: flex;
  overflow: hidden;
  width: 300vw;
  will-change: transform;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55vw;
}
.slider-image {
  width: 250px;
}


/*About section*/


.about-wrapper {
  top: 0px;
  left: 0px;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  will-change: opacity;
  transition: opacity 0.5s ease;

}

.about-text-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 0vh;
  background-color: rgb(240, 240, 240);
  box-shadow: 2px 6px 12px #00000014;
  overflow: hidden;
  border-radius: 10px;
  will-change: height;
}

.about-text-line1 {
  display: flex;
  position: absolute;
}
.about-text1-line1 {
  display: flex;
  padding: 30px;
  text-align: center;
}
.about-text-container1{
  display: flex;
  height: max-content;
  overflow: hidden;
}
.about-letter-text1{
  display: flex;
  width: max-content;
  font-family: 'Sora';
  font-size: 5vh;
  margin: 0px;
  transform: translateY(10vh);
  will-change: transform;
  transition: transform 1s ease;
}

.about-text-paragraph1 {
  font-family: 'Sora';
  font-size: 5vh;
  margin: 0px;
  opacity: 0;
  will-change: opacity;
  transition: opacity 3.5s ease;
  color: rgb(142, 142, 142);
}

.about-text-paragraph2-container {
  width: 50vw;
}
.about-text-paragraph2{
  font-family: 'Sora';
  font-weight: 800;
  font-size: 20px;
  opacity: 0;
}



.projects-section {
  display: flex;
  align-items: center;
  margin-top: 400vh;
  height: 200vh;
  width: 100%;
}

.project-title-container{
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  z-index: 999;
  padding-left: 15px;
}
.project-letter-container{
  width: max-content;
  height: max-content;
  overflow: hidden;
  
}
.project-letter {
  font-family: 'Anton SC';
  font-weight: 900;
  font-size: 10vh;
  margin: 0px;
  padding-left: 20px;
  transform: translateX(50px);
}





/*Project Slider*/
.project-slider-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0px;
}
.project-slider{
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: center;
  align-items: center;
  will-change: transform;
  transition: transform ease;
  overflow-x: scroll;
}
.project-slider::-webkit-scrollbar{
  display: none;
}
.project-slide {
  display: flex;
  width: max-content;
  height: max-content;
  align-items: center;
  justify-content: center;
  will-change: transform;
  transition: transform 0.01s ease-in-out;
}

.project-slide-img-container{
  display: flex;
  width: 200px;
  height: max-content;
}
.project-slide-img{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 2px 6px 12px #00000014;
  will-change: scale;
  transition: scale 0.3s ease;
}

.project-slide-img:hover{
  cursor: pointer;
  box-shadow: 2px 6px 12px #00000014;
  scale: 1.05;
  will-change: scale;
  transition: scale 0.3s ease;
}




/* Footer CSS */
.footer-wrapper {
  display: flex;
  width: 100%;
  height: 20vh;
  margin-top: 15vh;

}

.footer-left{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.footer-right{
  flex: 1;
}

.logo-footer-container {
  width: 100px;
}
.logo-footer {
  width: 100%;
  object-fit: cover;
}

.footer-project-info {
  font-family: "Roboto";
  font-weight: 200;
  font-size: 17px;
}
.contact-icons-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}
.contact-info-icon-container {
  display: flex;
  width: 70px;
}

.contact-info-icon-container-x {
  display: flex;
  width: 63px;
}

.contact-icon {
  width: 100%;
  object-fit: cover;
}