:root {
  padding: 0;
  margin: 0px;

}
html {
  scroll-behavior: smooth;
}

body{
  padding: 0px;
  margin: 0px;
  height: 800vh;
  background-color: rgb(254, 254, 254);
  scroll-behavior: smooth;
  will-change: background-color;
  transition: background-color 1s ease;
}

body::-webkit-scrollbar{
  display: none;
}

.cursor-tracker {
  position: fixed;
  width: 20px;
  height: 20px; 
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: left 1s ease, top 1s ease;
  z-index: 999999;
}
.mainbody {
  padding: 0px;
}


.home-section1-wrapper {
  border-radius: 10px;
  box-shadow: 2px 6px 12px #00000014;
  height: 100vh;
}
.home-image-container {
  display: flex;
  width: 750px;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  z-index: -1;

}
.home-hero-image {
  object-fit: cover;
  width: 100%;
}



.home1-text-container {
  width: 70%;
}
.home1-text {
  color: white;
  font-family: "Inter";
  font-size: 60px;
  font-weight: 900;
}

.header-wrapper {
  display: flex;
  width: 100%;
  min-height: 10vh;
  max-height: 10vh;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 999999;
  pointer-events: none;
}

.logo-container {
  display: flex;
  flex: 1;
  margin-left: 40px;
}

.logo {
  width: 100%;
  object-fit: cover;
  border-radius: 100px;
  font-family: 'Squada One';
  font-size: 50px;
  color: rgb(0, 0, 0);
  margin: 0px;
  display: inline-block;
  transform: scaleX(1.05);

}

.menu-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 40px;
  will-change: scale;
  transition: scale 0.3s ease;
  z-index: 99999;
  cursor: pointer;
}
.menu-icon-container {
  display: flex;
  align-items: center;
  width: 17px;
}

.menu-icon{
  width: 100%;
  object-fit: contain;
  pointer-events: none;
}

.menu-text {
  margin: 0px;
  font-family: 'Roboto';
  font-size: 15px;
  margin-left: 5px;
}

.navbar-wrapper-main {
  will-change: opacity;
  transition: opacity 0.3s ease, scale 0.5s ease;
  display: flex;
  justify-content: center;
  flex: 1;
}
.navbar-wrapper {
  width: max-content;
}

.navbar {
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  z-index:9999;
}

.navbar-links {
  display: flex;
  height: max-content;
  list-style: none;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}
li{
  will-change: padding-left;
  transition: padding-left 0.3s ease;
  cursor: pointer;
}
li:hover{
  padding-left: 2.5vw;
}


/*MENU CSS*/

.menu-section-wrapper {
  display: none;
  position: fixed;
  z-index: 99999999;
  top: 0px;
  width: 100%;
}
.menu-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: white;
  will-change: opacity;
  transition: opacity 0.3s ease;
  z-index: 99999999;
}

.close-menu-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
  height: 10vh;
  cursor: pointer;
}
.close-menu-img-container {
  display: flex;
  align-items: center;
  width: 17px;
  will-change: scale;
  transition: scale 0.2s ease-in-out;
}
.close-menu-img {
  width: 100%;
  object-fit: cover;
}

.close-menu-text {
  margin: 0px;
  font-family: "Roboto";
  padding-left: 5px;
  font-size: 15px;
}

.menu-section-top{
  display: flex;
  width: 100%;
  height: 80vh;
}
.menu-top-left {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.menu-pg-logo-container {
  display: flex;
  height: max-content;
}
.menu-pg-logo {
  font-family: 'Squada One';
  font-size: 200px;
  background-image: url('textbackground2.webp');
  background-clip: text;
  -webkit-background-clip: text; /* For WebKit browsers */
  color: rgba(129, 124, 124, 0.381);
  margin: 0px;
}

.menu-top-right{
  display: flex;
  flex: 1;
  align-items: center;
}

.menu-links-ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  margin-left: 5vw;
}

.menu-links {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 1.5px;
  display: inline-block;
  transform: scaleX(1.05);
}
.menu-section-bottom{
  display: flex;
}
.menu-bottom-left {
  display: flex;
  flex: 1;
}

.menu-email-container {
  display: flex;
  padding-left: 10vw;
}
.menu-email-text {
  font-family: 'Roboto';
  letter-spacing: 1px;
  display: inline-block;
  transform: scaleX(1.05);
}

.menu-bottom-right {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 5vw;
}

.menu-phone-number-container {
  display:flex;
  align-items: center;
}

.menu-phone-number-text {
  font-family: 'Roboto';
  letter-spacing: 1px;
  display: inline-block;
  transform: scaleX(1.05);
  margin: 0px;
}

.menu-linkedin-container {
  display: flex;
}

.menu-linkedin-text {
  font-family: 'Roboto';
  letter-spacing: 1px;
  display: inline-block;
  transform: scaleX(1.05);
}

.menu-instagram-container {
  display: flex;
}

.menu-instagram-text {
  font-family: 'Roboto';
  letter-spacing: 1px;
  display: inline-block;
  transform: scaleX(1.05);
}


.home-landing-page-wrapper {
  height: max-content;

}
.home1-content-wrapper {
  display: flex;
  flex-direction: column;
  top: 0px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  will-change: opacity;
  transition: opacity 0.5s ease;
}
.home1-text-container {
  display: flex;
  height: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home1-text-container-top {
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;
  align-items: center;
  gap: 25px;
  will-change: scale;
  transition: scale 01s ease, opacity 0.5s ease-in-out;
}

.home1-text-top-wrapper {
  display: flex;
  height: max-content;
  gap: 15px;
}


/*Landing hero page text slider css*/

.landing-page-slider-wrapper {
  display: flex;
  width: 250px;
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 5%,
    white 95%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
  margin-top: 15px;
}
.landing-page-slider {
  display: flex;
  animation: infiniteSlider 10s linear;
  animation-iteration-count: infinite;

}

.landing-page-slider-span {
  display: flex;
  width: 10px;
  margin: 0 5px 0 5px;
}

.landing-page-slider-span-img {
  width: 100%;
  object-fit: contain;
}


.landing-page-slider-text {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-wrap: nowrap;
  margin: 0 10px 0 10px;
}



/*ABOUT CSS*/

.home-about-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 250vh;
  position: relative;
}
.home-about-wrapper {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  height: 100vh;
}

.home-about-left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 7vw;
}
.about-name-container {
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 8px;
  transition: opacity 1s ease;
  opacity: 0;
}
.about-word-span {
  will-change: transform;
  transition: transform 0.5s ease;
}

.homeText5{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2;
  font-size: 30px;
  text-align: left;
  width: 100%;
  height: max-content;
  display: inline-block;
  text-wrap: nowrap;
}

.about-p-wrapper {
  display: flex;
  width: 100%;
  transition: opacity 1s ease;
  opacity: 0;
}
.homeText5v2{
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2;
  font-size: 30px;
  text-align: left;
  width: 100%;
  height: max-content;
  margin: 0px;
  text-wrap: wrap;
}
.signature-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.signature-container {
  display: flex;
  width: 200px;
  margin-top: 5vh;
}
.signature {
  width: 100%;
  object-fit: contain;
}
.name {
  color: rgb(79, 79, 79);
}
.home1-text1-container {
  display: flex;
}

.home1-text2-container {
  display: flex;
}

.home1-text3-container{
  display: flex;  
}
.home1-text4-container{
  display: flex;
}

.letter-container {
  overflow: hidden;
}
.letter {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 70px;
  color: rgb(29, 29, 29);
  margin: 0;
  transform: translateY(20vh);
  will-change: transform, opacity;
  transition: transform 1s ease, opacity 1s ease;
}



/*EXPERIENCE*/

.experience-section {
  height: max-content;
}
.experience-slider-wrapper{
  top: 0px;
  height: 600vh;
}
.experience-slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  position: sticky;
  top: 0px;
}

.experience-slide {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  will-change: transform, opacity;
  transition: transform 1s ease, opacity 0.5s ease;
  height: 100svh;
  position: absolute;
  top: 0px;
  opacity: 1;
}

.experience-slide-image-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
}
.experience-slide-image-container{
  display: flex;
  width: 500px;
  height: max-content;
  will-change: scale, clip-path, opacity;
  transition: scale 0.1s ease, clip-path 0.5s ease, opacity 0.4s ease;
  clip-path: inset(100% 0 0 0);
  scale: 0.9;
  padding: 0px 20px 0px 20px;
}

.experience-slide-image{
  width: 100%;
  object-fit: cover;
  will-change: scale;
  transition: scale 1.5s ease, opacity 1s ease;
  will-change: opacity;
  border-radius: 20px;
}

.experience-title-wrapper{
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-top: 15vh;
}
.experience-title-container{
  display: flex;
  width: max-content;
  justify-content: start;
  margin-left: 20px;
  margin-right: 10px
}
.experience-title {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin: 0px;
  transform: translateY(30vh);
  will-change: transform;
  transition: transform 0.9s ease;
}

.experience-text-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
  margin: 0;
  font-family: "Ubuntu";
  font-size: 16px;
  z-index: 999;
  gap: 5px;
}
.text-block {
  display: flex;
  margin: 0px;
  overflow: hidden;
}

.text-title-letter {
  margin: 0px;
  will-change: transform;
  transition: transform 1s ease;
  transform: translateY(10vh);
  font-size: 16px;
}

.time-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 1;
  top: 50%;
}

.time-text {
  display: flex;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 0 20px;
  will-change: opacity;
  transition: opacity 0.5s ease;
}


/* Experience scroll tracker*/

.experience-scroll-tracker-wrapper {
  display: flex;
  background-color: rgb(100, 100, 100);
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  will-change: opacity;
  transition: opacity 0.3s ease;
  box-shadow: 2px 6px 12px #00000014;
}
.experience-scroll-tracker {
  width: 3.325px;
  height: 150px;
  background-color: rgb(213, 213, 213);
  transform: translateY(-100%);
}
/*Projects*/

.projects-title-wrapper {
  display: flex;
  width: 100%;
  justify-content: start;
  overflow: hidden;
  margin-top: 15vh;
  margin-bottom: 7vh;
}


.projects-title-container-main {
  display: flex;
  width: max-content;
  justify-content: start;
  padding-left: 12vw;
}

.project-title-container {
  display: flex;
  width: 100%;
  justify-content: start;
  margin-left: 10px;
  margin-right: 10px;
}
.project-title {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin: 0px;
  transform: translateY(30vh);
  will-change: transform;
  transition: transform 0.9s ease;
}
.projects-section {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.projects-wrapper {
  display: flex;
  position: relative;
  width: 80vw;
  background-color:rgb(222, 222, 222);
  border-radius: 20px;
  overflow: hidden;
  
}
.projects-slider-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 5%,
    white 95%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);

}

.projects-slider-container {
  display: flex;
  position: relative;
}
.projects-slider1 {
  display: flex;
  width: max-content;
  align-items: center;
  will-change: transform;
  transition: transform 1s ease;
}
.projects-slider2 {
  display: flex;
  width: max-content;
  align-items: center;
  will-change: transform;
  transition: transform 1s ease;
  z-index: 9999;
  height: 100%;
}
.project-container-main {
  padding: 80px 0 80px 0;
}
.project-container {
  display: flex;
  justify-content: center;
  will-change: transform;
  align-items: center;
  transition: transform 1s ease;
  height: 100%;
}
.project {
  display: flex;
  width: 23vw;
  flex-direction: column;
  height: max-content;
  border-radius: 10px;
  position: relative;
}
.project-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  will-change: scale;
  transition: scale 0.2s ease-in-out;
  box-shadow: 2px 6px 12px #00000014;
  
}
.project-image:hover {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  scale: 1.05;
  will-change: scale;
  transition: scale 0.2s ease-in-out;
}

.project-name-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 40px;
  background-color: rgb(235, 235, 235);
  box-shadow: 2px 6px 12px #00000014;
  
}
.project-name {
  margin: 0px;
  padding: 7px;
  font-family: 'Roboto';
  font-size: 12px;
}

.left-arrow-container {
  display: flex;
  align-items: center;
  width: 38px;
  position: absolute;
  height: max-content;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(241, 241, 241, 0.767);
  border-radius: 100%;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s ease;
}
.left-arrow-img {
  width: 100%;
  object-fit: cover;
}
.right-arrow-container {
  display: flex;
  align-items: center;
  width: 38px;
  position: absolute;
  height: max-content;
  z-index: 999;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(241, 241, 241, 0.767);
  border-radius: 100%;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  will-change: opacity;
  transition: opacity 0.3s ease;
}
.right-arrow-img {
  width: 100%;
  object-fit: cover;
  rotate: 180deg;
}


.slider-tracker-wrapper {
  display: flex;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  width: max-content;
  background-color: rgb(197, 197, 197);
  box-shadow: 2px 6px 12px #00000014;
}

.slide-tracker-span {
  display: flex;
  border-radius: 100%;
  height: 8px;
  width: 8px;
  margin: 5px;
  background-color: rgb(169, 169, 169);
  will-change: background-color;
  transition: background-color 0.5s ease;
  box-shadow: 2px 6px 12px #00000014;

}

.view-more-button-container {
  display: flex;
  position: absolute;
  top: 25px;
  right: 40px;
  height: max-content;
  width: max-content;
  border-radius: 20px;
  cursor: pointer;
}

.view-more-button {
  display: flex;
  padding: 10px;
  border: 0px;
  border-radius: 20px;
  background-color: rgb(197, 197, 197);
  font-family: "Roboto";
  font-weight: 500;
  cursor: pointer;
}

/* Footer CSS */
.footer-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-top: 15vh;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
}

.footer-left{
  display: flex;
  flex: 1;
  justify-content: start;
  align-items: center;
}

.footer-right{
  flex: 1;
}

.logo-footer-container {
  width: 100px;
}
.logo-footer {
  width: 100%;
  object-fit: cover;
}

.footer-project-info {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -1px;
  word-spacing: -0.2px;
}
.contact-icons-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}
.contact-info-icon-container {
  display: flex;
  width: 70px;
}

.contact-info-icon-container-x {
  display: flex;
  width: 63px;
}

.contact-icon {
  width: 100%;
  object-fit: cover;
}






/*ANIMATIONS*/

@keyframes infiniteSlider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%)
  }
}